html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.main-content {
    margin: 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
    color: #000;
    text-align: left;
}
.nav li > form > button.logout:hover {
    color: #9d9d9d;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-brand > img {
    display: inline-block;
    filter: invert(100%);
    padding-right: 10px;
}
.navbar-description {
    display: block;
    color: #ccc;
}


table.multiple-input-list.table-renderer tr > td {width: 100%}
.table > tfoot > tr > td {border-top: none}

.ads-create textarea {
    max-width: 100%;}
.gallery img {max-width: 150px}

#main_image {
    display: none;
}
.custom-file-upload {
    border: 1px dotted #ccc;
    border-radius: 5px;
    display: inline-block;
    padding: 42px;
    font-size: 24px;
    cursor: pointer;
}

.ads-form .custom-file-upload {
    width: 100px;
    height: 78px;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #cbd2d7;
    background: #fff;
    padding: 0;
    text-align: center;
}
.ads-form .custom-file-upload img {
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    border: 3px solid #fff;
    display: block;
    margin: auto;
}

.custom-file-upload img {
    -o-object-fit: scale-down;
    object-fit: scale-down;
}
/*.ads-form img {*/
    /*width: 100%;}*/

.field-main_image {
    margin: auto;
}

.small-img {max-width: 150px;}
.title-bold {font-weight: 800;}

.navbar-inverse .navbar-nav > li > a.add-ad-btn:hover {
    background: #fff;
    color: #000;
}
header .navbar {
    margin-bottom: 0;
    border-radius: 0;
}
header ul.navbar-right {
    margin-top: 1%;
}
.nav-search-top {
    background: #ccc;
}
.search-top {
    display: flex;
    align-items: center;
}
.search-top input {border-radius: 0}
.search-top input, .search-top button {
    border-color: #000;}

.c-ad-image img {
    width: 175px;
    height: 175px;
    max-width: 100%;
}

.sub-categories-list {
    columns: 3;
    list-style-type: none;
}
.main-categories .sub-categories-list li {
    margin-top: 10px;
}

.category-thumbnail img {
    width: 32px;
    height: 32px;
}
.main-categories .sub-categories-list a {
    padding-left: 10px;
    font-weight: 700;
    text-transform: uppercase;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 16px;
    color: #222;
    cursor: pointer;
}

.modal-main-category-div {
    margin-bottom: 15px;
}
.modal-main-category-div a {
    font-size: 115%;
}

.main-category {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.main-category img {
    width: 32px;
    height: 32px;
}

.main-subcategory-caption {
    padding-left: 10px;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 16px;
    color: #222;
}
.listview_sort .active a {
    color: #0066FF;
}

.additional_images {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.thumbnails {
    overflow: auto;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: -20px;
}

.thumbnails > li {
    margin-left: 20px;
}

.image-additional {
    max-width: 78px;
}
.thumbnails .image-additional {
    float: left;
    margin-left: 20px;
}

.image-additional a {
    margin-bottom: 20px;
    padding: 5px;
    display: block;
    /*border: 1px solid #ddd;*/
}

.preview-image {
    text-align: center;
}
.preview-image img {
    max-width: 100%;
}

/* GALLERY BLOCK */
.message-form .gallery-place {
    display: inline-block;
}
.message-form .gallery-block {

}
/* Gallery Upload Widget */
.gallery-place{

}
.gallery-place .photos{
    float: left;
    width: 100%;
}
#fileupload{
    float: left;
    width: 100%;
}
.fileupload-buttonbar{
    float: left;
    width: 100%;
}
.gallery-wrap {
    float: left;
    width: 100%;
    min-height: 220px;
    position: relative;
}
.gallery-wrap .files {
    /* float: left; */
    /* width: 100%; */
}
.gallery-wrap .photo-preview {
    float: left;
    background: #ebebeb;
    height: 100px;
    position: relative;
    vertical-align: middle;
    width: 100px;
    cursor: pointer;
    display: table-cell;
    border: none;
    margin: 0 10px 10px 0;
}
@media (min-width: 992px){/* md + lg */
    .gallery-wrap .files {
        /* width: calc(100% + 10px); */
        /* margin-right: -10px; */
    }
}
@media (min-width: 768px) and (max-width: 991px){/* sm */
    .gallery-wrap .photo-preview {
        margin: 0 5px 10px 0;
    }
}
@media (max-width: 767px){/* xs */
    .gallery-wrap .files {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap:wrap;
    }
    .gallery-wrap .photo-preview {
        margin: 0 auto 10px auto;
    }
}
.gallery-wrap .photo-preview span.fa-stack{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -27px;
    margin-left: -28px;
    color: #fff;
}
.gallery-wrap .photo-preview span.fa-stack .fa-circle{
    color: #fff;
    font-size: 45px;
}
.gallery-wrap .photo-preview span.fa-stack .fa-plus{
    font-size: 26px;
    color: #ebebeb;
}
.gallery-wrap .photo-preview:hover{
    background-color: #3c7bda;
}
.gallery-wrap .photo-preview:hover[data-id]{
    background: #ebebeb;
}
.gallery-wrap .photo-preview .fa-camera{
    display: none;
}
.gallery-wrap .photo-preview:hover .fa-camera{
    display: inline-block;
    font-size: 38px;
    top: 10px;
}
.gallery-wrap .photo-preview:hover .fa-plus,
.gallery-wrap .photo-preview:hover .fa-circle{
    display: none!important;
}
.gallery-wrap .photo-preview.proccess
{
    background: url("/img/icons/loader.gif") center no-repeat;
    background-color: #ebebeb;

}
.gallery-wrap .photo-preview:hover:after {
    background-position: -81px -87px;
    cursor: pointer;
}

.gallery-wrap .photo-preview.proccess:hover:after
{
    background-position: center;
}
.gallery-wrap .photo-preview.in:after {
    display: none;
}
.gallery-wrap .photo-preview.in .delete,
.gallery-wrap .photo-preview.in .rotate {
    position: absolute;
    top: -8px;
    width: 0;
    height: 0;
    padding: 0;
    cursor: pointer;
    z-index: 50;
    border: 0;
    outline: 0;
    display: none;
}
.gallery-wrap .photo-preview.in .delete{
    right: 14px;
}
.gallery-wrap .photo-preview.in .rotate {
    left: -4px;
}
.gallery-wrap .photo-preview.in .delete:before,
.gallery-wrap .photo-preview.in .rotate:before{
    content: "\e014"; /*fa-circle*/
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    font-size: 24px;
}
.gallery-wrap .photo-preview.in .delete:before{
    color: #ff0000;
}
.gallery-wrap .photo-preview.in .rotate:before{
    color: #398e3c;
}
.gallery-wrap .photo-preview.in .delete:after,
.gallery-wrap .photo-preview.in .rotate:after{
    font: normal normal normal 14px/1 FontAwesome;
    color: #fff;
    position: absolute;
    line-height: 24px;
}
.gallery-wrap .photo-preview.in .delete:after{
    content: "\f00d"; /*fa-close*/
    left: 5px;
}
.gallery-wrap .photo-preview.in .rotate:after{
    content: "\f01e"; /*fa-rotate-right*/
    left: 4px;
}

#photosDefault{
    float: left;
    width: 100%;
    position: relative;
}
.photosdef > div{
    padding: 0 20px 0 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#photosDefault .delete{
    display: inline-block;
    padding: 0;
    border: none;
    position: absolute;
    right: 20px;
    top: 3px;
}
#photosDefault .delete:after{
    position: absolute;
    content: "\f1f8";
    font: normal normal normal 14px/1 FontAwesome;
    color: #ff0000;
    font-size: 20px;
    top:0
}
#photosDefault input{
    float: left;
    min-height: 26px;
    width: 100%;
}
#photosDefault input:focus{
    outline:none;
}
.gallery-wrap .photo-preview.in:focus .rotate,
.gallery-wrap .photo-preview.in:focus .delete,
.gallery-wrap .photo-preview.in:hover .rotate,
.gallery-wrap .photo-preview.in:hover .delete
{
    display: block;
}
.gallery-wrap .photo-preview.in .photo-container {
    height: 100px;
    position: relative;
    vertical-align: middle;
    width: 100px;
    display: table-cell;
    text-align: center;
}
.gallery-wrap .photo-preview.in img {
    border: medium none;
    display: inline;
    max-height: 100px;
    max-width: 100px;
    vertical-align: middle;
}
.gallery-wrap .photo-preview.in:hover img {
    box-sizing: border-box;
    cursor: pointer;
}
.message-form .gallery-sortable .photo-preview .btn-set-cover {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    /*background: rgba(0, 0, 0, 0.5);*/
    background-color: #dbd8cf;
    font-size: 10px;
    color: #151515;
    cursor: pointer;
    z-index: 50;
}
.message-form .gallery-sortable .photo-preview:hover .btn-set-cover{
    display: block;
    cursor: pointer;
}
.message-form .gallery-sortable .photo-preview:first-child .btn-set-cover {
    display: none !important;
}
.message-form #fileUploadGallery .tooltip {
    top: 15px;
    left: calc(100% + 15px);
}
.tooltip-gallery-bottom{
    float: left;
    width: 100%;
    font-size: 12px;
    color: #a3a3a3;
}
.gallery-block .label-attribute p{
    font-size: 12px;
    color: #a3a3a3;
}
.errors {
    display: none;
}
.message-form .gallery-sortable .photo-preview .btn-set-cover {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    /* background: rgba(0, 0, 0, 0.5); */
    background-color: #dbd8cf;
    font-size: 10px;
    color: #151515;
    cursor: pointer;
    z-index: 50;
}
.message-form .gallery-sortable .photo-preview:first-child .btn-set-cover {
    display: none !important;
}
/* END GALLERY BLOCK */
